<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <h1 class="charname"><input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Nome da Raça"
      /></h1>
  </header>

  <section class="sheet-body">
    <h3>Atributos Base</h3>
    <div class="grid grid-4col">
      <div class="resource flex-group-center">
        <label>Força</label>
        <input
          type="number"
          name="system.atributos.forca"
          value="{{system.atributos.forca}}"
        />
      </div>
      <div class="resource flex-group-center">
        <label>Agilidade</label>
        <input
          type="number"
          name="system.atributos.agilidade"
          value="{{system.atributos.agilidade}}"
        />
      </div>
      <div class="resource flex-group-center">
        <label>Inteligência</label>
        <input
          type="number"
          name="system.atributos.inteligencia"
          value="{{system.atributos.inteligencia}}"
        />
      </div>
      <div class="resource flex-group-center">
        <label>Vontade</label>
        <input
          type="number"
          name="system.atributos.vontade"
          value="{{system.atributos.vontade}}"
        />
      </div>
    </div>

    <hr />

    <h3>Habilidade Automática</h3>
    <div class="form-group">
      <label>Arraste uma Habilidade aqui para vincular:</label>
      <div class="drop-zone {{#if linkedAbility}}has-item{{/if}}">
        {{#if linkedAbility}}
          <div class="linked-item flexrow flex-center">
            <img src="{{linkedAbility.img}}" width="36" height="36" />
            <span class="item-name">{{linkedAbility.name}}</span>
            <a class="remove-link" title="Remover Vínculo"><i class="fas fa-times"></i></a>
          </div>
        {{else}}
          <div class="placeholder">
            <i class="fas fa-download"></i> Arraste uma Habilidade
          </div>
        {{/if}}
      </div>
      <input type="hidden" name="system.habilidadeUuid" value="{{system.habilidadeUuid}}">
    </div>

    <hr />

    <h3>Classes Comuns</h3>
    <div class="form-group">
      <label>Lista de Classes</label>
      <input
        type="text"
        name="system.classesComuns"
        value="{{system.classesComuns}}"
        placeholder="Ex: Guerreiro, Paladino, Sacerdote"
      />
    </div>

    <hr />
    <h3>Descrição da Raça</h3>
    {{editor
      system.description
      target="system.description"
      rollData=rollData
      button=true
      owner=owner
      editable=editable
    }}
  </section>
</form>