<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Nome da Raça"/></h1>
    </header>

    <section class="sheet-body">
        <h3>Bônus de Atributos</h3>
        <div class="grid grid-4col">
            <div class="resource flex-group-center">
                <label>Força</label>
                <input type="number" name="system.atributos.forca" value="{{system.atributos.forca}}"/>
            </div>
            <div class="resource flex-group-center">
                <label>Agilidade</label>
                <input type="number" name="system.atributos.agilidade" value="{{system.atributos.agilidade}}"/>
            </div>
            <div class="resource flex-group-center">
                <label>Inteligência</label>
                <input type="number" name="system.atributos.inteligencia" value="{{system.atributos.inteligencia}}"/>
            </div>
            <div class="resource flex-group-center">
                <label>Vontade</label>
                <input type="number" name="system.atributos.vontade" value="{{system.atributos.vontade}}"/>
            </div>
        </div>
        <hr>
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </section>
</form>